﻿@model IEnumerable<WebApplication1.Models.File>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@if (ViewBag.Message != null)
{
    <label><h1 style="color:red">@ViewBag.Message</h1></label>
}



<form method="post" action="/Files/DeleteAll">

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                <input type="submit" value="Delete All" />
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OwnerFk)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <input type="checkbox" name="ids" value="@item.Id" />
                </td>
                
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OwnerFk)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    <button><a href="@item.Link">@Html.ActionLink("Download", "DownloadFile", new { id = item.Id })</a></button>
                </td>
            </tr>
        }

    </table>



</form>

